body{
    background-color: black;
}

h1{
    margin: auto;
    text-align: center;
    color: white;
}

.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

img{
    border: 5px solid white;
    width: 100%;
}